.profilepic {
  float: right;
  border: none;
  margin-left: 20px;
  height: 400px;

  @include media-query($on-mobile) {
    float: none;
    margin-bottom: 10px;
    margin-left: 0px;
  }
}

.footer-col {
  font-size: 18px;

  h4 {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 40px;
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;

    .social-link {
      display: flex;
      width: 100%;
      align-items: flex-start;
      line-height: 16px;
      margin-top: 6.5px;
      margin-bottom: 10px;

      a {
        margin-left: 6px;
        word-break: break-all;
      }
    }

    @include media-query($on-mobile) {
      font-size: 14px;
      line-height: 38px;
    }
  }
}

#wechat-widget {
  display: none;
  position: absolute;
  background: #fff;
  border: #ddd 1px solid;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);

  padding: 24px;
  text-align: center;

  p {
    font-size: 18px;
    line-height: 1.8;
    font-family: $base-font-family;
    wmax-width: 700px;
    margin-bottom: 1em;
  }

  #qr-code {
    width: 160px;
    height: 160px;
    border: none;
  }
}
