---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-url: "{{ site.baseurl }}";

$base-font-family: Charter, Georgia, sans-serif;
$base-font-size: 21px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.8;

$spacing-unit: 40px;

$text-color: #2b2b2b;
$background-color: #ffffff;
$brand-color: #336699;

$grey-color: #e0e0e0;
$grey-color-light: #f5f5f5;
$grey-color-dark: #999999;

$on-mobile: 500px;
$on-laptop: 800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "site", "work", "blog", "post", "404";
