<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <p>Assistant Professor of Finance, Bentley University. <a href="https://www.dropbox.com/scl/fi/99pzpz1rqusyuh3vl07wn/CV_Hui-Grace-Wang.pdf?rlkey=2fwvp7firncjazfgnkk7q6jxy&dl=0" target="_blank">Curriculum Vitae</a>.<br/>Contact: <a href="mailto:huiwang@bentley.edu" target="_blank">huiwang@bentley.edu</a><br/> 
        </p>
        
        <div class="home">
         <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profilepic"
          /> 
          {{ content }}
        </div>
      </div>
    </div>
  {% include foot.html %}
  </body>
</html>
