<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <p>Assistant Professor of Finance, Bentley University . <a href="https://www.dropbox.com/scl/fi/n8jptnvn6ni86dxzw6snc/Hui-Wang-CV_2025.pdf?rlkey=7gzrdzw2ccmj9efyfm5aegcpa&dl=0" target="_blank">Curriculum Vitae</a>.<br/>Contact: <a href="mailto:huiwang@bentley.edu" target="_blank">huiwangi[at]bentley.edu</a>
        </p>
        
        <div class="home">
         <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profilepic"
          /> 
          {{ content }}
        </div>
      </div>
    </div>
  {% include foot.html %}
  </body>
</html>
